.table-container{
    padding-left:32px;
    padding-right:32px;
    padding-top:32px;
    text-align: center;
}

.tableRow:nth-of-type(odd){
    background-color:#d9d9d9;
    align-items: center;
    text-align: center;
    align-content: center;
}
.tableRow:hover{
    background-color:lightblue;
    opacity:0.6;
}