.card {
    box-sizing: border-box;
    border: 1px solid #3C4F76;
    text-align: center;
    width: 100%;
    padding: 10px;
}

h5 {
    font-size: larger;
    padding: 10px;
    padding-bottom: 0;
    color: black;
}